.add{
    padding: 110px 0 90px 0;
    display: flex;
    width: 100%;
    border-bottom: 2px solid #ececec;

    &__cont {
        justify-content: space-between;
        max-width: 1170px;
        width: 100%;
        min-height: 100px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    &__top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        & > .first {
            display: flex;
            flex-direction: column;
            //@warn  box-sizing: content-box;
            & > a {
                margin-bottom: 41px;
                display: flex;
                align-items: center;
                text-decoration: none;
                &:hover p,
                &:hover img {
                    cursor: pointer;
                    transform: scale(1.1);
                    transition: transform 0.5s;
                }
                &:active p,
                &:active img {
                    transform: scale(1);
                    transition: transform 0.5s;
                }
                & > p {
                    font-size: 27px;
                    font-weight: 300;
                    margin-left: 15px;
                    color: $base;

                    & > span {
                        color: $pinc;
                        font-weight: 600;
                    }
                }
            }
            & > p:first-of-type {
                width: 427px;
                color: #898989;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0.35px;
                margin-bottom: 36px;
            }
            & > p:last-of-type {
                width: 427px;
                color: #898989;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0.35px;
                margin-bottom: 36px;
            }
        }
        & > .second,
        & > .third,
        & > .fourth {
            display: flex;
            flex-direction: column;
            & > h4 {
                display: flex;
                color: #f16d7f;
                font-family: Lato;
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                text-transform: uppercase;
                letter-spacing: 0.45px;
                margin-bottom: 45px;
            }
            & > a {
                text-decoration: none;
                color: #898989;
                font-family: Lato;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.4px;
                line-height: 42px;
                margin-bottom: 5px;
                &:hover {
                    cursor: pointer;
                    color: $pinc;
                }
                &:active {
                    cursor: pointer;
                    color: $pincActive;
                }
            }
        }
    }
}
