
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-pinterest:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */